.pagelogo {
  display: flex;
  height: 130px;
  float: right;
}

.pagelogo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

@media (max-width: 850px) {
  .pagelogo {
    height: 0;
  }
}